*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --color-principal: #AAFF04;
    --color-sobra: #597c1269;
    --color-negro: #030303;
    --color-blanco: #ffffff;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem; 
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
        "header"
        "section"
        "main"
        "footer";
    height: 100vh;
    
}
/********INICIO DEL HEADER******/
header{
    background-color: var(--color-negro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
}
.header_nav{
    width: 50rem;
    display: flex;
    justify-content: space-around;
   
}
.header_nav a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

.header_nav a:hover{
color: var(--color-principal);

}

.header_usuario  img{
    width: 50px;
}

.header_usuario {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*****INICO DEL  SECTION*****/
section {
    grid-area: section;
    height: 60rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                      url(/img/green-grass-cinematic-lighting-football-stadium%201.png);
    background-position: center;
    background-size: cover;
    padding: 0;
    color: white;
    display: flex;
    justify-content: space-around;
}

.oferta{
    width: 30rem;
    background: linear-gradient(to bottom, rgba(82, 211, 133, 0.8), rgba(26, 71, 42, 0.4)); /* Gradiente de arriba a abajo con transparencia */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.oferta h1{
   font-size: 4rem;
   
}

.oferta button{
    color: var(--color-negro);
    padding: 5px;
    background-color: var(--color-principal);
    border-radius: 5px;
    width: 17rem;
    font-weight: bold;
 
 }

 
.oferta button:hover{
  font-size: 1.7rem;
 
 }


 .section_titulo {
    width: 90rem;
    font-size: 5rem;
    text-align: center;
    white-space: pre-line;
    line-height: 7rem;

}


 .section_img{
    width: 2rem;
    height: 2rem;
 }

 /*****INICIO DEL MAIN*****/


main{
    display: flex;
   justify-content: space-around;
   grid-area: main;
   margin-top: 20rem;
   
}
  

 /*****INICIO DEL ASIDE*****/
aside{
    width: 30rem;
    border:  solid  var(--color-principal) 0.7rem;
    border-radius:10px 10px 0 0 ;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    

}
.aside_ligas{
    height: 10rem;
  
    
}

.aside_ligas h3,.aside_pools{
    text-align: center;
    background-color:var(--color-negro);
    color: white;
    padding: 5px;

}
.aside_ligas_logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 100%;
}

.aside_ligas_logos>button{
    background-color: rgb(194, 191, 191);
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    padding: 1rem;
    
    
    
}
.aside_ligas_logos>button:hover{
  background-color: var(--color-principal);
    
}
.aside_ligas_logos>button>img{
    width: 7rem;
    height: 7rem;

}




/*****INICO DE PARTIDO DIRECTO*****/


.partido_directo{
    border: solid ;
    width: 30rem;
}

.partido_directo_header{
    background-color: green;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



/*****INICO DEL LA  TABLA APUESTAS *****/
.lista_apuestas {
    width: 90rem; /* 900px */
    border: solid var(--color-principal) 0.5rem; /* 1px */
    box-shadow: 0.9rem 0.9rem 0.9rem var(--color-sobra);
    height: auto;
    background-color: white;
}


.lista_apuestas_header {
    height: 5rem; /* 50px */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem; /* 30px */
    padding: 1.5rem; /* 15px */
    border-bottom: solid 0.1rem; /* 1px */
}

.lista_apuestas_header-opcio {
    width: 18.5rem; /* 185px */
    height: 3rem; /* 30px */
    border: solid 0.1rem; /* 1px */
    display: flex;
    padding: 0.2rem; /* 2px */
    border-radius: 0.5rem; /* 5px */
    justify-content: space-around;
    font-size: 1.3rem; /* 13px */
    align-items: center;
}

.flechaAmpliarimg {
    width: 2rem; /* 20px */
    height: 2rem; /* 20px */
}

.valores_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem; /* 30px */
    padding-right: 1.5rem; /* 15px */
    margin-top: 0.5rem;
}

.valores_header-1, .valores_header-2, .valores_header-3 {
    display: flex;
    width: 18.5rem; /* 185px */
    justify-content: space-between;
    font-size: 1.3rem; /* 13px */
}

.valores_header-1 {
    padding-right: 3rem; /* 30px */
}
.valores_header-3 {
    padding-right: 3rem; /* 30px */
    justify-content: space-around;
    padding-left: 1rem;
}

.apuesta {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3rem solid #000; /* 3px */
   
   
}

.apuesta_equipo {
    
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: 1.3rem; /* 13px */
  padding-bottom: 0.5rem;
}

.equipo {
    display: flex;
    align-items: center;
}
.camisa_equipos{
    width: 39px;
    height: 39px;
}

.horario {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* 5px */
}

.horario > button {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem; /* 5px 10px */
    border-radius: 2rem; /* 20px */
    border: 0;
    font-size: 1rem; /* 10px */
}

.apuesta_resultado {
    
    width: 18rem; /* 180px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem; /* 10px */
    gap: 0.8rem; /* 8% */
}

.cuotas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 197, 197);
    border: 0.2rem solid gray; /* 2px */
    padding: 5%;
    font-size: 1.5rem;
}

.apuesta_masmenos {
    
    width: 19rem; /* 190px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem; /* 10px */
    gap: 0.8rem; /* 8% */
}


.apuesta_marcan {
    width: 18rem; /* 180px */
    display: flex;
    align-items: center;
    gap: 0.8rem; /* 8% */
}

#goles {
    background-color: white;
    border: 0;
}

footer {
    grid-area: footer;
    background-color: var(--color-negro);
    margin-top: 5rem;
    padding: 3rem;
    display: flex;
    justify-content: space-around;

    
}

.footer_nav{
   width: 40rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 6rem;
  
}

.footer_nav a{
    text-decoration: none;
    color: var(--color-blanco);
}

.footer_nav a:hover{
    text-decoration: none;
    color: var(--color-principal);
}

.footer_link_logos{
    width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footer_link_logos-youtube,.footer_link_logos-link
,.footer_link_logos-insta{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  border: none;
  cursor: pointer;
  
}
.footer_link_logos-link img{
    border-radius: 50%;
}


.footer_link_logos-youtube img,
.footer_link_logos-link img,.footer_link_logos-insta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

